:root{
  --kalegreen: #69b73d;  
  --donutpink: #ff748c;
}

body {
    background-color:#f5f6de; /*neutral*/
    background-image:url("img/background.png");
    background-repeat:repeat;
}



@media only screen and (max-width: 600px) {
 #mainBody {
    background-color:rgba(255,255,255,0.9);
    margin: 15px auto;
    width: 100%;
    padding: 15px;
}
}

@media only screen and (min-width: 600px){
#mainBody {
    background-color:rgba(255,255,255,0.9);
    margin: 50px auto;
    width: 75%;
    padding: 15px;
}  
}

#titleHeader, #tagline, #inputArea, #resultArea, #invitation {
    margin: auto;
    padding: 1rem 15px;
    display: flex;
    justify-content: center;
    }  
    
.formRow {
    margin:1.5rem 0rem;
}
    
.resultCard {
    background-color:#f5f6de;
    margin:0rem 1rem;
    text-align:center;
    padding:0.25rem;
}

.resultEmph{
    font-size:3rem;
    font-weight: 500;
}

.resultText{
    font-size:2rem;
    line-height:2.2rem;
    font-weight: 400;
    }
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-family: inherit;    
    color: inherit;
}
    
p, label {
    font-size: 1.2rem;
    line-height:1.6rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    }

input[type=text],select {
    width:100%;
}

p.error {
    color:#ff8800;
}

p.footnote {
    font-size:0.8rem; 
    line-height:1rem;
}

select {
    font-size: 0.9rem;
}

li {
    font-size: 1.2rem;
    line-height:1.4rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

button {
    font-size: 1.2rem;
    margin: 1rem 0.25rem;
}

/* Donut to kale switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff748c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #69b73d;
}


input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}